@keyframes pulse {
	0% {
		filter: brightness(1);
	}
	50% {
		filter: brightness(0.5);
	}

	100% {
		filter: brightness(1);
	}
}

@keyframes slideshow {
	0% {
		left: 100%;
	}
	100% {
		left: -100%;
	}
}