@use "../abstracts/variables" as *;

.ad-box {
	display: flex;
	align-items: center;
	position: sticky;
	justify-content: space-between;
	top:0;
	border-bottom: 1px solid black;
	z-index: 1;
	height: 100px;
	margin-bottom: 45px;
	background-color: $main-background;
	
	.banner-ad-box {
		cursor: pointer;
		display: flex;
		align-items: center;
		width: 30%;
		height: 100%;
		text-align: center;

		span:last-of-type {
			padding-left: 25px;
		}
	}
	
	.banner-images-container {
		position: relative;
		top: 0;
		height: 100%;
		width: 50%;
		left: 25px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}
}

