.navbar-container {

  .navlinks-wrapper {
    display: flex;

    .navlink {
      transition: 0.2s ease-in-out all;
      padding: 15px 0px;
      border-right: 1px solid rgb(0, 0, 0.2);
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      &:hover {
        background-color: black;
        cursor: pointer;
      }

      a {
        padding: 10px 15px;
      }
    }
  }
}
