@use "../abstracts/animations" as *;

.app-header {
	h1 {
		font-size: 50px;
		font-weight: lighter;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	p {
		line-height: 1.4;
		margin: 0 0 10px;
		font-size: 21px;
		font-weight: 200;
	}
	a {
		color: #ffffff;
		&:hover {
			border-bottom: 1px solid;
		}
	}
}


